.left-bar {
  background-color: var(--secondary);
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 5px;
  position: sticky;
  top: 0px;
  height: 100vh;
  padding: 10px;

  a,
  button {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    width: 100%;
    height: auto;
    text-align: center;
    .material-icons {
      font-size: 1.6rem;
    }
    .text {
      font-size: 0.7rem;
    }
  }

  ul,
  .footer {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .active {
    a {
      color: var(--link-active);
    }
  }
}
