.left-bar {
  background-color: var(--secondary);
  width: 150px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding-left: 10px;
  position: sticky;
  top: 0px;
  height: 100vh;

  .brand {
    font-family: Arial, Helvetica, sans-serif;
  }

  ul {
    list-style: none;
    line-height: 2em;
    padding: 5px;
    li {
      position: relative;
      padding-left: 0.5em;
      a {
        font-size: 1rem;
      }
      // outline: 1px solid var(--boder-color);
      &::before {
        position: absolute;
        left: -5px;
        top: 0px;
        border-left: 2px solid var(--boder-color);
        border-bottom: 2px solid var(--boder-color);
        content: "";
        width: 0.5em;
        height: 1em;
      }
      &::after {
        position: absolute;
        left: -5px;
        bottom: 0px;
        border-left: 2px solid var(--boder-color);
        content: "";
        width: 0.5em;
        height: 1em;
      }
      &:last-child::after {
        display: none;
      }
    }
  }

  details {
    summary {
      cursor: pointer;
      list-style-type: none;
      &::marker,
      &::-webkit-details-marker {
        display: none;
      }
    }
  }

  .brand {
    display: flex;
    height: 30px;
    align-items: center;
    a {
      font-weight: bold;
    }
  }
}
